.seperator
{
	border-bottom:1px dotted #999999;
	margin-bottom:10px;
	margin-top:5px;
}

.category_children .seperator
{
	border:none;
}

.sub_title
{
	padding-bottom:20px;
}

.readmore
{
	float:right;
}

.clr
{
	clear:both;
}

.reference .readmore
{
	float:left;
	margin-right:10px;
}

.btn_download
{
	margin-top:10px;
}

.btn_download .readmore
{
	float:none;
}

.osdownloads-pagination > ul {
    list-style: none;
}

.osdownloads-pagination > ul li {
    display: inline;
}

.osdownloads-pagination > ul > li:before {
    content: none !important; /* Overrides enthusiastic templates */
}

