/* OSDOWNLOADS */
.seperator
{
    border-bottom:1px dotted #999999;
    margin-bottom:10px;
    margin-top:5px;
}

.category_filter {
    margin-bottom: 30px;
}

.category_filter .seperator
{
    border:none;
}

.sub_title
{
    padding-bottom:20px;
}

.osdownloads-readmore
{
    float:right;
}

.clr
{
    clear:both;
}

.reference .osdownloads-readmore
{
    float:left;
    margin-right:10px;
}

.btn_download {
    margin: 10px 0;
}

.btn_download > a,
a.modosdownloadsDownloadButton {
    color: #fff;
    padding: 6px 10px;
    background: #336699;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-decoration: none;
}

.btn_download > a:hover,
.btn_download > a:focus,
.btn_download > a:active,
a.modosdownloadsDownloadButton:hover,
a.modosdownloadsDownloadButton:focus,
a.modosdownloadsDownloadButton:active {
    color: #fff;
    text-decoration: none;
}

.btn_download .osdownloads-readmore
{
    float:none;
}

.osdownloads-pages-counter {
    display: inline-block;
    float: left;
}

.osdownloads-pagination {
    display: inline-block;
    float: right;
}

.osdownloads-pagination > ul {
    list-style: none;
    margin: 10px 0;
}

.osdownloads-pagination > ul li {
    display: inline;
    margin: 0 5px;
    float: left;
}

.osdownloads-pagination > ul li.disabled {
    display: none;
}

.osdownloads-pagination > ul > li:before {
    content: none !important; /* Overrides enthusiastic templates */
}

/* module */
.mod_osdownloadsfiles ul {
    margin: 0;
    list-style: none;
}

.mod_osdownloadsfiles ul li {
    padding: 5px 0;
    margin: 0;
    border-bottom: 1px dotted #999999;
}

/*===============================
=            COLUMNS            =
===============================*/

.osdownloads-container .columns-2 div.column,
.osdownloads-container .columns-3 div.column,
.osdownloads-container .columns-4 div.column,
.osdownloads-container .columns-5 div.column,
.osdownloads-container .columns-6 div.column,
.osdownloads-container .columns-7 div.column,
.osdownloads-container .columns-8 div.column {
    display: block;
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
}

.osdownloads-container .columns-2 div.column {
    width: 50%;
}

.osdownloads-container .columns-3 div.column {
    width: 33.3333%;
}

.osdownloads-container .columns-4 div.column {
    width: 25%;
}

.osdownloads-container .columns-5 div.column {
    width: 20%;
}

.osdownloads-container .columns-6 div.column {
    width: 16.6666666667%;
}

.osdownloads-container .columns-7 div.column {
    width: 14.2857142857%;
}

.osdownloads-container .columns-8 div.column {
    width: 12.5%;
}


/*=====  End of COLUMNS  ======*/



.osd-alert {
    background: #fff1f0;
    border: 1px solid rgba(216,80,48, 0.2);
    color: #d85030;
    padding: 15px;
}

/*  --------------------------------------------------
Reveal Modals
-------------------------------------------------- */

.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 999998;
    display: none;
    top: 0;
    left: 0;
}

.osdownloads-modal {
    visibility: hidden;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 520px;
    background: #eee url(../images/reveal-modal-gloss.png) no-repeat -200px -80px;
    position: absolute;
    z-index: 999999;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    }

.osdownloads-modal.small         { width: 200px; margin-left: -140px;}
.osdownloads-modal.medium        { width: 400px; margin-left: -240px;}
.osdownloads-modal.large         { width: 600px; margin-left: -340px;}
.osdownloads-modal.xlarge        { width: 800px; margin-left: -440px;}

.osdownloads-modal .close-reveal-modal {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    font-weight: bold;
    cursor: pointer;
    }
/*

NOTES

Close button entity is &#215;

Example markup

<div id="myModal" class="reveal-modal osdownloads-modal">
    <h2>Awesome. I have it.</h2>
    <p class="lead">Your couch.  I it's mine.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
    <a class="close-reveal-modal">&#215;</a>
</div>

*/
.osdownloads-modal {
    text-align: left;
}

.osdownloads-modal iframe {
    border: 0;
    width: 100%;
}

.osdownloads-modal .error {
    margin-bottom: 20px;
    font-style: italic;
}

.osdownloads-modal label {
    width: 100%;
}

.osdownloads-modal input[type="email"] {
    width: 97%;
}

.osdownloads-modal h2 {
    margin-bottom: 30px;
}

.osdownloads-modal input[type="checkbox"] {
    margin-right: 5px;
    margin-top: -2px;
}

@media screen and (max-width: 320px) {
    .osdownloads-modal {
        width: 280px !important;
        margin-left: -120px !important;
    }
}

@media screen and (max-width: 768px) {
    .osdownloads-modal {
        width: 480px !important;
        margin-left: -280px !important;
    }
}

@media screen and (max-width: 580px) {
    .osdownloads-modal {
        width: 380px !important;
        margin-left: -230px !important;
    }
}

@media screen and (max-width: 480px) {
    .osdownloads-modal {
        width: 280px !important;
        margin-left: -180px !important;
    }
}

/* SHARE BUTTONS */
#osdownloadsRequirementsPopup .fb-like {
    margin-left: 3px;
}

#osdownloadsRequirementsPopup .fb-like iframe {
    top: -5px;
}

#osdownloadsRequirementsPopup .fb_iframe_widget > span,
#osdownloadsRequirementsPopup .fb-like-box iframe {
    width: 450px !important;
}

#osdownloadsShareGroup .fb_iframe_widget > span {
    vertical-align: baseline !important;
    margin-left: 5px;
}

/* DOWNLOAD CUSTOM FIELDS */
.osdownloads-custom-fields-container .tab-pane {
    display: block !important;
}

.osdownloads-custom-fields-container .nav-tabs {
    font-size: 15px;
    font-weight: bold;
    padding: 8px 0;
}

#osdownloadsAgreeGroup {
    margin-top: 30px;
}

.osdownloads-fieldset-title {
    font-size: 14px;
}

.osdownloads-title-download a {
    float: none;
}
